
		body{
			margin: 0;
			background-color: #fcfcfc;
			}
		#t-top{
			margin: 0 auto;
			background-color: #fdfdfd;
			border-bottom: 1px solid #ddd;
			height: 60px;
			min-width: 1100px;
		}
		#top{
			width: 1100px;
			margin: 0 auto;
			font-size: 13px;
			line-height: 60px;
		}
		#ser{
			margin: 0 auto;
			background-color: #fcfcfc;
			width: 1100px;
			height: 120px;
		}
		#nav{
			margin: 0 auto;
			background-color: #fcfcfc;
			width: 1100px;
			height: 100px;

		}
		#main{
			margin: 0 auto;
			height: 1500px;
			background-color: #fcfcfc;
			width: 1100px;
		}
		#l_main{
			width: 28%;
			border:1px solid #ccc;
			background-color: #fff;
			float: left;
		}
		#r_main{
			width: 70%;
			background-color: #fff;
			float: right;
			border:1px solid #0aa700;
		}