#nav{
	border-top: 2px solid #0aa700;
}
#nav ul{
	padding: 0;
	margin: 0;
	line-height: 40px;
}
#nav > ul > li{
	float: left;
}
#nav ul li ul{
	position: absolute;
	border:1px solid #0aa700;
	font-size: 14px;
	width: 1098px;
}
#nav ul li ul li{
	display: inline-block;
}
#nav .n1{
	background-color: #0aa700;
}
#nav .n1 > a{
	border:0;
	padding: 0 18px;
	color: white;
}
#nav .n1 + li a{
	border:0;
}
#nav > ul > li > a{
	padding: 0 19px;
	color: black;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	border-left: 1px solid #ccc;
}
#nav ul li ul li span{
	padding: 0 5px;
	color: #0aa700;
	border-right: 1px solid #ccc;
}
#nav ul li ul li a{
	padding: 0 15px;
	color: black;
	text-decoration: none;
}
#nav .n1 > a:hover{
	color: white;
}
#nav > ul > li > a:hover{
	color: #0aa700;
}
#nav ul li ul li a:hover{
	color: red;
	text-decoration: underline;
}